/* .Home { */

/* justify-content: left; */
 /* background-color: #49a5bf;
    color: #fff;
    font: 10px "Roboto", "Cambria", "lucida grande", "lucida sans", Geneva, "sans-serif", tahoma, helvetica, arial;
    line-height: 20px;
    margin: 0 auto auto;
    width: 100%;
    min-width: 320px;
    height: 100%;
    min-height: 100vh;
    background: #0387d1;
    background: -moz-linear-gradient(180deg, rgba(3, 135, 209, 1) 0%, rgba(1, 85, 132, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(3, 135, 209, 1) 0%, rgba(1, 85, 132, 1) 100%);
    background: linear-gradient(180deg, rgba(3, 135, 209, 1) 0%, rgba(1, 85, 132, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0387d1", endColorstr="#015584", GradientType=1);
    background-repeat: no-repeat;
    font-size: 50px;

}
.logo {
    max-width: 450px;
    width: 100%;
    margin-top: 8%;
} */